.search-wrap {
  color: var(--secondary);
  background-color: var(--primary);
  text-align: left;
  padding: 1rem;
  border-radius: 16px;
}
.search-wrap h2 {
  font-size: 2rem;
}
.search-wrap .title p {
  font-size: 1rem;
}
.search-wrap .title {
  margin-bottom: 25px;
}
.search-wrap .search {
  text-align: center;
}
.search-btn {
  background-color: var(--secondary);
  color: var(--primary);
  margin-top: 25px;
  text-align: center;
}
