.country {
  color: var(--secondary);
  padding: 20px;
  margin-top: 20px;
  background-color: var(--primary);
  border-radius: 16px;
}
.country img {
  width: 275px;
  border-radius: 16px;
}
.country p {
  font-size: 1.6rem;
  padding-bottom: 15px;
}
