.country {
  color: var(--secondary);
  padding: 20px;
  margin-top: 20px;
  background-color: var(--primary);
  border-radius: 16px;
}
.country img {
  width: 275px;
  border-radius: 16px;
  border: 2px solid var(--secondary);
}
.country p {
  font-size: 1.6rem;
  padding-bottom: 15px;
}
.country button {
  background-color: var(--secondary);
  color: var(--primary);
  margin-top: 20px;
  margin-bottom: 20px;
}
.red {
  background-color: var(--incorrect);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.buttons :last-child {
  background-color: var(--secondary);
  color: var(--primary);
  border: 2px solid var(--primary);
}
