/*@import url('./index.css');*/

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
}
main{
  font-size: 2rem;
  height:auto;
  color: var(--primary);
}
main .buttons a{
  display: block;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 26px;
  border: 4px solid var(--primary);
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--primary);
  transition: 0.3s all;
}
main .buttons a:hover{
  color: var(--secondary);
  background-color: var(--primary);
}
main .title h1{
  font-size: 2em;
  max-width: 550px;
}
main .title p{
  font-size: 1em;
  max-width: 550px;
}