@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  font-family: "Luckiest Guy", cursive, normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #5886cb;
  --secondary: #f7f6f6;
}
*,
body {
  margin: 0 auto;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
