header {
  background-color: #5886cb;
  margin: 0 auto;
  display: flex;
  width: 100%;
  color: white;
  padding: 0.6rem 0;
}
.left h2 {
  font-size: 2rem;
}
nav {
  display: flex;
  align-items: center;
}
ul li {
  list-style-type: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
ul li a:hover{
  font-size: 1.1rem;
}
